<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="TemplateMo">

    <title>Ticket Tool</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/templatemo-first-portfolio-style.css" rel="stylesheet">
    
    
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="/" class="navbar-brand mx-auto mx-lg-0">Ticket Tool</a>

           

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll active" id="filesButton" href="/files">Upload Details</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" id="nextButton" href="/customerTable">Customer Details</a>
                    </li>


                </ul>

            </div>

        </div>
    </nav>

    <main>

        <section class="hero d-flex justify-content-center align-items-center" id="section_1">
            <div class="container" style="z-index: 22;
            background-color: white;
            border-radius: var(--border-radius-small);">
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table id="customerTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PDF File Name</th>
                            <th scope="col">PDF File Link</th>
                            <th scope="col">CSV File Name</th>
                            <th scope="col">CSV File Link</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Customers Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pdfUrls.forEach((pdf, index) => { %>
                          <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= pdf.filename %></td>
                            <td><a href="<%= pdf.url %>"target="_blank">Download PDF</a></td>
                            <% const csv = csvUrls[index]; %>
                            <% if (csv) { %>
                              <td><%= csv.filename %></td>
                              <td><a href="<%= csv.url %>"target="_blank">Download CSV</a></td>
                              <td><%=csv.uploadDate%></td>
                              <td><%= csv.customerCount %></td>
                            <% } else { %>
                              <td colspan="2">No CSV file</td>
                            <% } %>
                          </tr>
                        <% }); %>
                      </tbody>
                      
                    
                </table>
            </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#ffc92b" fill-opacity="1"
                    d="M0,160L24,160C48,160,96,160,144,138.7C192,117,240,75,288,64C336,53,384,75,432,106.7C480,139,528,181,576,208C624,235,672,245,720,240C768,235,816,213,864,186.7C912,160,960,128,1008,133.3C1056,139,1104,181,1152,202.7C1200,224,1248,224,1296,197.3C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
                </path>
            </svg>
        </section>



    </main>



    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/click-scroll.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/magnific-popup-options.js"></script>
    <script src="/js/custom.js"></script>
    <script>


    

        // Event listener for next button
        document.getElementById('filesButton').addEventListener('click', function () {
  // Redirect to the /files page
  window.location.href = '/files';
});
document.getElementById('nextButton').addEventListener('click', function () {
  // Redirect to the /files page
  window.location.href = '/customerTable';
});

       
    </script>

</body>

</html>
